.collapse{
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  margin-right: 3vw;
}

.navbar-brand{
  display:flex;
  flex-direction:row;
  margin-left: 3vw;
}
p{
  display:inline;
  align-content: center;
  text-align: center;
}